# script config
/script/calcPathLen/path.json


node_modules/

/laya/views

release/
/bin/**
!/bin/libs/**
!/bin/favicon/**
!/bin/index.html
!/bin/index.js
.DS_Store
/src/ui/layaMaxUI.ts
script/**/config.json

#IDE编译调试的会修改此文件格式
/src/GameConfig.ts