{
    "extends": ["tslint:latest", "tslint-config-prettier"],
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 4,
    "importOrder": [
        "^(?!Laya|honor)(\\w+)$",
        "^(laya|Laya|honor)(.*)$",
        "^(ctrl|data|view|model)/(.*)$",
        "^(\\w+)/(.*)$",
        "^([./])(.*)$"
    ],
    "importOrderSeparation": true
}
